.collectible {
  display: flex;
  gap: 10px;
  margin: 10px 0;

  &:hover {
    cursor: pointer;
  }

  &__image {
    height: 60px;
    width: 60px;
    background: $primary-gray;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__details {
    padding: 5px 0;
    flex: 1;
    p {
      margin-bottom: 0;
      &.title {
        font-weight: 500;
      }
      &.by {
        color: darken($primary-gray, 20%);
        span {
          color: $link-color;
        }
      }
    }
  }
  &__icon {
    color: darken($primary-gray, 20%);
    align-self: center;
  }
}