.btn {
  padding: 10px;
  height: 40px;
  font-size: 14px;
  align-items: center;
  border: none;
  border-radius: 10px;
  justify-content: center;
  position: relative;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--primary {
    background-color: $primary-btn-bg-color;
    color: $primary-btn-text-color;
    &:hover {
      color: $primary-btn-text-color;
      background-color: darken($primary-btn-bg-color, 10%);
    }
  }
}