@mixin input-field {
  height: 45px;
  width: 100%;
  padding: 10px 20px;
  font-size: $p-font-size;
  background: $input-bg-color;
  border: 1px solid $primary-gray;
  box-sizing: border-box;
  border-radius: 8px;
}

label {
  display: block;
  font-size: $label-font-size;
  margin-bottom: 5px;
  color: $primary-text-color;
}

input {
  @include input-field;
}

.search-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  @include input-field;
  input {
    border: none;
    padding: 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.experience-search {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  gap: 15px;
}