.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid $primary-gray;
  margin-bottom: 30px;

  h3 {
    font-size: 18px;
  }

  &--space-between {
    justify-content: space-between;
  }
}

.section-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .tile {
    flex-basis: 48.5%;
    &:nth-child(5n+1) {background: #EAEFFF;}
    &:nth-child(5n+2) {background: #F5F5F5;}
    &:nth-child(5n+3) {background: #E2F9F3;}
    &:nth-child(5n+4) {background: #FFF3EC;}
    &:nth-child(5n+5) {background: #EBF5FF;}
    border-radius: 6px;
    padding: 15px;

    &__image {
      height: 35px;
      width: 35px;
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        height: 100%;
        width: auto;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      margin: 0;
    }
  }
}

.number-tag {
  background-color: $link-color;
  position: relative;
  bottom: 2px;
  display: inline-block;
  color: $primary-white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.MuiAppBar-colorPrimary {
  color: $primary-text-color !important;
  background-color: transparent !important;
  box-shadow: none;
}

.MuiPaper-elevation4 {
  box-shadow: none;
  border-bottom: 1px solid $primary-gray;
}

.Mui-selected {
  .MuiTab-wrapper {
    font-weight: 600;
  }
}

.MuiTab-wrapper {
  color: $primary-text-color;
}