.MuiTypography-root {
  display: flex;
  align-items: center;
  gap: 10px;
  &.MuiFormControlLabel-label.MuiTypography-body1 {
    &.filter-image {
      display: inline-block;
      background: $header-background;
      height: 25px;
      width: 25px;
      border-radius: 100%;
    }
  }
}
