.login-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: $header-background;
  margin-bottom: 30px;

  &__icon-wrapper {
    display: flex;
    gap: 10px;
    color: $header-icon-color;
  }
}

.cursorPointer {
  cursor: pointer;
}